<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="/components/paper-card/paper-card.html">
<link rel="import" href="/components/paper-item/paper-item.html">
<link rel="import" href="/components/paper-input/paper-input.html">
<link rel="import" href="/components/paper-input/paper-input-container.html">
<link rel="import" href="/elements/x-scroll-pane.html">

<!--
`nano-chat`
Chat element via nano websocket

@demo demo/index.html 
-->
<dom-module id="nano-chat">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding:10px 
      }

      .chat{
        width:99%;
        height:500px;
      }

      .chat .window {
        border-radius: 4px;
        box-shadow: 1px 1px 4px #555, 1px 1px 4px #777 inset;
        padding: 4px
      }
      .scroll{
        height:50vh;
        width:100%;
        padding:6px 6px 6px 0px;

      }
    </style>

    <paper-card class="chat">
        <h2>chat</h2>
        <div class="window">
            <div class="scroll" id="scroll" style="overflow: auto;">
                <x-scroll-pane scroll-target="scroll" id="pane" ></x-scroll-pane>
            </div>
            <paper-input-container always-float-label on-keypress="send">
                <label>message:</label>
                <input id="input"></input>
            </paper-input-container>
        </div>
    </paper-card>
  </template>

  <script>
    'use strict';
    var ws;
    Polymer({
      is: 'nano-chat'
    , send: function( evt ){
        var message = this.$.input.value;

        if( evt.charCode === 13  && message ){
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function( e ){
                console.log( this.status, this.response );
            }

            xhr.send( JSON.stringify( { message } ) );
            this.$.input.value = '';

        }
    }
    , ready: function(){
        var that = this; 
        ws = new WebSocket('ws://0.0.0.0:3001',[
            'pub.sp.nanomsg.org'
        ]);
        ws.onopen = function(){
            var welcome = document.createElement('p');
            welcome.innerHTML = "Welcome";
            that.$.pane.appendChild( welcome );
            console.log('connection open');
        };

        ws.onerror = function( err ){
            console.log( err );
            ws.close();
        }

        ws.onmessage = function( message ){
            var reader = new FileReader();
            reader.addEventListener( 'loadend', function(){
                var p = document.createElement('p');
                p.innerHTML = reader.result;
                p.classList = 'item';
                that.$.pane.appendChild( p );
                that.$.pane.scroll( 0, that.$.scroll.scrollHeight );
            });
            reader.readAsText( message.data )
        }
    }
    });
  </script>
</dom-module>
