<link rel="import" href="/components/polymer/polymer.html">
<link rel="import" href="/components/iron-scroll-target-behavior/iron-scroll-target-behavior.html">
<!--
`x-scroll-pane`
Scollable area
-->

<dom-module id="x-scroll-pane">

    <template>
        <style>
            :host{
                display: block;
            }
        </style>
        <content></content>
    </template>

    <script>
        Polymer({
            is:'x-scroll-pane'
            , behaviors:[
                    Polymer.IronScrollTargetBehavior
            ]
            , attached: function(){
                this._scrollHandler();
                console.log( this.scroll );
            }

            ,_scrollHandler: function(){
                this._scrollTop = this._scrollTop;
                this._scrollLeft = this.scrollLeft;       
            }
        })
    </script>
</dom-module>
